$primary: rgb(255 255 255);
$transparent: rgb(0 0 0 / 0%);
$tertiary: #91A4C7;
$hover: #f1f1f1;
$textSecCol: #B7B7B7;
$inputCol: #ccc;

table,
thead,
tbody,
tfoot,
tr,
th,
td {
    padding: 0;
    border-spacing: 0;
    text-align: left;
}

th {
    height: 31px;
    line-height: 0;
}

td {
    line-height: 0;
    height: 32px;
}

app-svg {
    background: transparent;
}

svg-icon {
    background: transparent;
    display: flex;
    align-items: center;
}

table {
    border-spacing: 0 3px;

    thead {
        tr {

            th {
                font-size: 16px;
                font-weight: bold;
                color: $textSecCol;
                text-align: left;
            }

            .count {
                display: grid;
                background: $tertiary;
                border-radius: 3px;
                color: $primary;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 23px;
                margin-left: 4px;
                margin-right: 4px;
            }

        }
    }

    tbody {
        background-color: $primary;

        // .selected {
        //     background: #E5E5E5;

        //     .flex {
        //         color: white;
        //     }
        // }

        tr {
            background: transparent;
            height: 36px;
            border-radius: 3px;
            box-shadow: inset 0 0 0 2px $primary;
            cursor: pointer;

            &:hover {
                background-color: $hover;
            }

            td {
                color: $textSecCol;
                background: transparent;
                border: none;
                font-size: 12px;
                width: fit-content;

                .margin {
                    background: transparent;
                    margin-right: 22px;
                    display: flex;
                    align-items: center;
                    font-size: 16px;

                }

                .img {
                    width: 20px;
                    height: 24px;
                    background: red;
                    border-radius: 2px;
                }

                .icons {
                    background: transparent;
                    position: relative;
                    display: flex;
                    gap: 0.5rem;

                    i {
                        background: transparent;
                        display: grid;
                        align-items: center;
                        font-size: 16px;
                    }

                    .dropdown {
                        position: absolute;
                        right: 0;
                        top: 100%;

                        ul {
                            list-style: none;
                            position: absolute;
                            height: fit-content;
                            right: 0;
                            z-index: 2;
                            background: $primary;
                            filter: drop-shadow(0px 0px 4px rgb(0, 0, 0, 15%));

                            li {
                                width: 110px;
                                margin: 1px 2px;
                                line-height: 26px;
                                display: flex;
                                background: $primary;
                                align-items: center;
                                cursor: pointer;
                                border-radius: 2px;
                                font-size: 12px;

                                &:last-child {
                                    color: red;
                                }

                                svg-icon {
                                    margin: 6px 7px 6px 6px;
                                }

                                &:hover {
                                    background: $hover;
                                }


                            }
                        }
                    }
                }

                .flex {
                    gap: 0.3rem;

                    .progres-cdl {
                        width: 25px;
                        height: 25px;
                        border-radius: 4px;
                        display: flex;

                        .a {
                            width: 70%;
                            height: 100%;
                            background: #CCCCCC;
                            border-radius: 4px;
                        }

                        .b {
                            width: auto;
                            background: #DADADA;
                            height: 100%;
                        }
                    }

                    .progres-medical {
                        width: 25px;
                        height: 25px;
                        border-radius: 4px;
                        display: flex;

                        .a {
                            width: 50%;
                            height: 100%;
                            background: #FFD399;
                            border-radius: 4px;
                        }

                        .b {
                            width: auto;
                            background: #DADADA;
                            height: 100%;
                        }
                    }

                    .progres-mvr {
                        width: 25px;
                        height: 25px;
                        border-radius: 4px;
                        display: flex;

                        .a {
                            width: 30%;
                            height: 100%;
                            background: #FF8080;
                            border-radius: 4px;
                        }

                        .b {
                            width: auto;
                            background: #DADADA;
                            height: 100%;
                        }
                    }
                }
            }

            .actions {
                width: 25px;
                cursor: pointer;
            }

            .checkbox {
                text-align: center;

                .label-holder {
                    background: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .container {

                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;

                            &:checked~.checkmark {
                                background-color: $tertiary;
                                animation-direction: alternate;
                            }
                        }

                        .checkmark {
                            position: relative;
                            top: 0;
                            height: 14px;
                            width: 14px;
                            background-color: $inputCol;
                            border-radius: 2px;

                            &:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }
                        }
                    }

                    .container {
                        cursor: pointer;
                        font-size: 20px;
                        background: $transparent;
                        position: absolute;
                        height: 32px;
                        display: flex;
                        align-items: center;
                    }

                    .container input:checked~.checkmark:after {
                        display: block;

                    }

                    .container .checkmark:after {
                        left: 4px;
                        top: 1px;
                        width: 3px;
                        height: 7px;
                        border: solid $primary;
                        border-width: 0 0.15em 0.15em 0;
                        transform: rotate(44deg);
                    }
                }

            }

            .name {

                .holder-person {
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                    background: $transparent;
                    width: 190px;
                    margin-right: 22px;

                    .person-img {
                        height: 24px;
                        width: 20px;
                    }

                    span {
                        font-size: 16px;
                        background: transparent;
                        font-weight: bold;
                        height: fit-content;
                    }
                }
            }


        }
    }
}

.flex {
    display: flex;
    background: rgb(0 0 0 / 0%);
    align-items: center;
    height: fit-content;
}