<div class="body">
    <table cellspacing="15">
        <thead>
            <tr>
                <th class="checkbox-head"><span class="count">0</span></th>
                <th class="names-th">Name</th>
                <th colspan="3">Phone</th>
                <th>SSN</th>
                <th>DOB</th>
                <th>Hired</th>
                <th>CDL #</th>
                <th>State</th>
                <th>CDL Exp.</th>
                <th>Medical Exp.</th>
                <th>MVR Exp.</th>
                <th>
                    <div class="flex">
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of peoples; let i = index " align="center">
                <td class="checkbox">
                    <div class="label-holder">
                        <label class="container">
                            <input type="checkbox">
                            <div class="checkmark"></div>
                        </label>
                    </div>
                </td>
                <td colspan="3" class="name">
                    <div class="holder-person">
                        <img class="person-img" src="../../assets/img/person.jpg" alt="">
                        <span>
                            {{person.name}}
                        </span>
                    </div>
                </td>
                <td>{{person.phone}}</td>
                <td>{{person.ssn}}</td>
                <td>{{person.dob}}</td>
                <td>{{person.hired}}</td>
                <td> in {{person.cdl}} days</td>
                <td><app-svg></app-svg></td>
                <td>
                    <div class="flex">
                        <div class="progres-cdl">
                            <div class="a"></div>
                            <div class="b"></div>
                        </div>
                        in {{person.cdl_exp}} days
                    </div>
                </td>
                <td>
                    <div class="flex">
                        <div class="progres-medical">
                            <div class="a"></div>
                            <div class="b"></div>
                        </div>in {{person.medical_exp}} days
                    </div>
                </td>
                <td>
                    <div class="flex">
                        <div class="progres-mvr">
                            <div class="a"></div>
                            <div class="b"></div>
                        </div> in {{person.mvr_exp}} days
                    </div>
                </td>
                <td class="actions">
                    <div class="icons">
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                        <i class="fa fa-file" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-h" aria-hidden="true" (click)="showDropdown(i)"></i>
                        <div class="dropdown" *ngIf="show == i">
                            <ul>
                                <li><i class="fa fa-pencil" aria-hidden="true"></i> Edit</li>
                                <li><i class="fa fa-plus" aria-hidden="true"></i>Add CDL</li>
                                <li><i class="fa fa-plus" aria-hidden="true"></i>Add Medical</li>
                                <li><i class="fa fa-plus" aria-hidden="true"></i>Add MVR</li>
                                <li><i class="fa fa-plus" aria-hidden="true"></i>Add Test</li>
                                <li><i class="fa fa-power-off" aria-hidden="true"></i>Deactivate</li>
                                <li><i class="fa fa-trash" aria-hidden="true"></i>Delete</li>
                            </ul>
                        </div>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>